/* GENERAL */
/* line 2, ../sass/mob480.scss */
html {
  -webkit-text-size-adjust: none; }

/* line 3, ../sass/mob480.scss */
body {
  background: #000;
  font-size: 1.2em; }

/* line 4, ../sass/mob480.scss */
.icaew-wrap {
  background: none #000;
  overflow: hidden;
  padding: 0; }

/* line 5, ../sass/mob480.scss */
.content {
  background-color: #fff; }

/* line 6, ../sass/mob480.scss */
h1 {
  width: 460px;
  font-size: 1.6em;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 10px 15px; }

/* line 7, ../sass/mob480.scss */
h2 {
  font-size: 1.45em; }

/* line 8, ../sass/mob480.scss */
h3 {
  font-size: 1.3em; }

/* line 9, ../sass/mob480.scss */
.icaew-wrap p, dd {
  font-size: 1em;
  line-height: 1.2em; }

/* line 10, ../sass/mob480.scss */
.text ul li {
  margin-bottom: 10px; }

/* line 11, ../sass/mob480.scss */
.rating-wrap h3 {
  font-size: 1.2em; }

/* STRUCTURE */
/* line 14, ../sass/mob480.scss */
.icaew-wrap, .footer, .twoCol, .section-wrap, #wrapper, .content, .left-wrap {
  width: 480px;
  padding-top: 0; }

/* line 16, ../sass/mob480.scss */
.home-wrap .event-promo, .home-tabs, #loginPage, .library .sub-topic-links li, .sub-topic-links li, #coretabs.threeCol, #coretabs.threeCol ul.pane li, .core .tabs, .core .section, .core.text .carousel .scrollable, .core.text .carousel, .core.text .event-list, .core.text .sub-topic-links, .content .grid_3-5.link_panel, .a-z-home .module, .a-z-home #a-z-content table, .content .grid_4-5, .content .grid_7.splitPanelOuter_3-5_3-5, .topics-home .search, .bottom-left, .bottom-right, .free-text-box {
  width: 460px !important;
  margin: 0 0 10px !important; }

/* line 18, ../sass/mob480.scss */
#wrapper .grid_4-5, #wrapper .grid_6, #wrapper .grid_7, #wrapper .grid_9, .section, .left-wrap .core.text {
  width: 460px;
  margin: 0 10px 10px;
  padding: 0; }

/* line 19, ../sass/mob480.scss */
#leftContent {
  margin: 0 10px; }

/* line 20, ../sass/mob480.scss */
.alpha, .omega {
  margin: 0; }

/* line 21, ../sass/mob480.scss */
.sidebar {
  display: none;
  min-height: 0; }

/* line 22, ../sass/mob480.scss */
.left-wrap h1 {
  position: relative; }

/* line 23, ../sass/mob480.scss */
.grid_3-5:nth-of-type(even) {
  margin-left: 10px; }

/* HEADER */
/* line 26, ../sass/mob480.scss */
.header .logo {
  margin: 10px 0;
  position: relative;
  left: -270px; }

/* line 27, ../sass/mob480.scss */
.banner-wrap, .home-ad {
  display: none; }

/* line 29, ../sass/mob480.scss */
.header {
  height: auto;
  width: 200px;
  float: right;
  padding-bottom: 6px;
  font-size: 0.7em; }

/* line 30, ../sass/mob480.scss */
.header ul.header-column {
  width: 200px;
  padding-top: 7px; }

/* line 31, ../sass/mob480.scss */
.header ul.header-column li {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  height: 21px;
  line-height: 21px; }

/* line 32, ../sass/mob480.scss */
.navigation ul li {
  margin: 0 0 6px 0;
  padding-bottom: 5px;
  height: 20px;
  line-height: 21px; }

/* line 33, ../sass/mob480.scss */
.header ul.header-column li {
  width: 200px; }

/* line 34, ../sass/mob480.scss */
.navigation ul li {
  width: 260px; }

/* line 35, ../sass/mob480.scss */
.header ul.header-column.glyphs {
  clear: both;
  float: left; }

/* line 36, ../sass/mob480.scss */
.header ul.header-column.links {
  clear: both;
  float: left;
  margin: 0;
  border: none;
  padding: 0px;
  position: relative;
  top: 6px;
  width: 200px;
  background-color: #000; }

/* line 37, ../sass/mob480.scss */
.header ul.header-column.links a, .navigation ul li a, .library .navigation ul li a, .library .navigation ul li.current a {
  padding: 1px 10px 5px 15px;
  font-size: 1.1em;
  line-height: 24px;
  float: none; }

/* line 38, ../sass/mob480.scss */
.header ul.links li a, .navigation ul li a {
  display: block;
  background-image: none; }

/* line 39, ../sass/mob480.scss */
.header ul.header-column.links li {
  height: 24px;
  line-height: 24px;
  margin: 0 0 5px;
  border-left: 1px solid #4E4E4E;
  border-right: 1px solid #333;
  border-top: 1px solid #4E4E4E;
  border-bottom: 1px solid #333;
  background-color: #262626;
  padding-bottom: 0;
  width: 198px; }

/* line 40, ../sass/mob480.scss */
.header ul.header-column.links li a {
  border: none; }

/* line 41, ../sass/mob480.scss */
.header ul.header-column.glyphs, .navigation ul {
  width: 200px;
  margin: 0; }

/* line 42, ../sass/mob480.scss */
.header ul.header-column.glyphs li, .navigation ul li {
  display: block; }

/* line 43, ../sass/mob480.scss */
.navigation {
  float: left;
  clear: left;
  width: 260px;
  background: #000;
  margin-top: 113px; }

/* line 45, ../sass/mob480.scss */
.navigation {
  font-size: 0.7em; }

/* line 46, ../sass/mob480.scss */
.navigation ul {
  display: block;
  margin: 0;
  width: 260px;
  height: 160px; }

/* line 47, ../sass/mob480.scss */
.navigation fieldset.search input[type="text"] {
  width: 167px; }

/* line 48, ../sass/mob480.scss */
.navigation fieldset.search {
  padding: 0;
  height: 35px; }

/* line 49, ../sass/mob480.scss */
.navigation fieldset.search input {
  _webkit-border-radius: 0; }

/* line 51, ../sass/mob480.scss */
.header ul.header-column.links li a, .header ul.header-column.links li a:hover {
  background-repeat: no-repeat; }

/* SUB NAVIGATION */
/* line 54, ../sass/mob480.scss */
.sub-navigation {
  position: relative;
  top: 0;
  float: left;
  clear: left;
  width: 460px;
  margin: 10px;
  height: auto !important; }

/* line 55, ../sass/mob480.scss */
.sub-navigation li a {
  font-size: 1.1em !important;
  line-height: 1.3em !important;
  font-weight: bold; }

/* line 56, ../sass/mob480.scss */
.sub-navigation li li a {
  font-size: 1.1em !important;
  line-height: 1.3em;
  font-weight: normal; }

/* FOOTER */
/* line 59, ../sass/mob480.scss */
.footer {
  background-color: #c00;
  height: 180px;
  font-size: 1em;
  line-height: 1em;
  margin-top: 0px; }

/* line 60, ../sass/mob480.scss */
.footer ul {
  left: 0;
  position: relative;
  top: 5px; }

/* line 61, ../sass/mob480.scss */
.footer ul li {
  margin: 0; }

/* line 62, ../sass/mob480.scss */
.footer ul li a, .footer h3, .footer p {
  font-size: 0.8em;
  line-height: 1.0em; }

/* line 63, ../sass/mob480.scss */
.footer ul li a {
  display: block;
  padding: 8px 20px; }

/* line 64, ../sass/mob480.scss */
.footer h3 {
  left: 20px;
  top: 80px;
  margin: 0;
  position: absolute;
  font-weight: bold; }

/* line 65, ../sass/mob480.scss */
.footer p {
  position: absolute;
  top: 80px;
  right: 20px;
  float: right; }

/* line 66, ../sass/mob480.scss */
.footer .cookie {
  height: 50px;
  font-size: 0.8em;
  position: absolute;
  bottom: 0; }

/* OLD HOME / LIBRARY */
/* line 69, ../sass/mob480.scss */
.home-wrap {
  padding: 10px; }

/* line 70, ../sass/mob480.scss */
.home-wrap {
  width: auto;
  height: auto; }

/* line 72, ../sass/mob480.scss */
.feature {
  width: 460px;
  height: 440px;
  overflow: hidden; }

/* line 73, ../sass/mob480.scss */
.feature-nav {
  position: inherit;
  float: none;
  margin: 10px 0 0;
  height: inherit;
  width: 450px;
  margin-right: 0;
  border-color: #E8E8E8;
  border-style: solid none solid solid;
  border-width: 5px 0 5px 10px; }

/* line 74, ../sass/mob480.scss */
.feature-nav li {
  border-bottom: 15px solid #E8E8E8;
  border-right: 10px solid #E8E8E8;
  border-top: 5px solid #E8E8E8; }

/* line 75, ../sass/mob480.scss */
.feature-nav li, .feature-nav li a {
  height: 65px;
  background: #ccc; }

/* line 76, ../sass/mob480.scss */
.feature-nav li a h3 {
  font-size: 1.0em;
  line-height: 1.1em; }

/* line 77, ../sass/mob480.scss */
.feature-nav li a p {
  font-size: 0.85em;
  line-height: 1.1em; }

/* line 79, ../sass/mob480.scss */
.featurelist {
  background: none;
  float: none;
  height: auto;
  width: 460px; }

/* line 80, ../sass/mob480.scss */
.featurelist .headline {
  margin: 0;
  padding: 10px;
  width: 440px;
  height: auto; }

/* line 81, ../sass/mob480.scss */
.featurelist .headline h1 {
  font-size: 1.2em;
  display: inline; }

/* line 82, ../sass/mob480.scss */
.featurelist .headline a {
  font-size: 0.9em;
  display: inline-block;
  float: none; }

/* line 84, ../sass/mob480.scss */
.feature-desc {
  width: 220px;
  height: 440px;
  padding: 0; }

/* line 85, ../sass/mob480.scss */
.feature-desc li {
  background: none repeat scroll 0 0 #000000 !important;
  padding: 0;
  width: 220px;
  opacity: 1 !important;
  height: 420px;
  margin: 10px 10px 0 230px; }

/* line 86, ../sass/mob480.scss */
.feature-desc li h4, .feature-desc li p, .feature-desc li a, .feature-desc li a.more {
  margin: 10px; }

/* line 87, ../sass/mob480.scss */
.feature-desc li a.more {
  background: url("../images/Structure/button64.gif") repeat-x scroll 0 -20px #cc0000;
  font-size: 1.1em;
  height: auto;
  line-height: 24px; }

/*.home-wrap .middle-row div.search.module {display: none;}
.home-wrap .event-promo, .home-wrap .promo-box {margin-left:0px;}*/
/* line 92, ../sass/mob480.scss */
.event-promo {
  margin-right: 28px; }

/* line 94, ../sass/mob480.scss */
.home-tabs.module.tabs .pane-wrap {
  clear: left;
  float: left;
  width: 460px; }

/* line 95, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-nav {
  width: 186px; }

/* line 96, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-desc {
  height: 260px;
  overflow: hidden;
  width: 250px; }

/* line 97, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-desc h4 {
  font-size: 0.8em;
  line-height: 1.6em; }

/* line 98, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-desc p {
  font-size: 0.8em;
  line-height: 1.6em; }

/* line 99, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-desc .title {
  width: auto; }

/* line 100, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-desc li {
  height: 256px;
  padding: 2px 10px; }

/* line 101, ../sass/mob480.scss */
#tab-most-viewed .most-viewed-nav li a {
  color: #222222;
  display: block;
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 700;
  height: 50px;
  overflow: hidden;
  padding: 5px 20px 8px 10px;
  text-decoration: none; }

/* line 103, ../sass/mob480.scss */
.event-promo .promo-desc .desc {
  float: right;
  margin: 10px;
  width: 380px; }

/* line 104, ../sass/mob480.scss */
.event-promo .promo-desc .desc h3 {
  font-size: 0.8em; }

/* line 105, ../sass/mob480.scss */
.promo-desc .desc p {
  font-size: 0.8em;
  line-height: 1.2em; }

/* line 106, ../sass/mob480.scss */
#tab-latest-event .more_link {
  font-size: 0.8em; }

/* line 107, ../sass/mob480.scss */
#tab-latest-event p {
  clear: both; }

/* line 108, ../sass/mob480.scss */
#tab-latest-event ul li {
  border: none; }

/* line 110, ../sass/mob480.scss */
.home-tabs #tab-editors-choice li {
  margin: 0 !important;
  width: auto !important; }

/* line 111, ../sass/mob480.scss */
.home-tabs #tab-editors-choice li a {
  padding: 10px 10px 10px 22px;
  font-size: 0.8em; }

/*  NEW HOME */
/* line 114, ../sass/mob480.scss */
#featured, #featured img, .home-wrap .featureNav, .colThird, .colThird.fauxTab, #featured ul.ui-tabs-nav, .colThird .event-list {
  width: 460px; }

/* line 116, ../sass/mob480.scss */
#featured, #featured .ui-tabs-panel .info {
  height: 120px !important; }

/* line 117, ../sass/mob480.scss */
#featured, .home-wrap .featureNav {
  margin-bottom: 10px; }

/* line 118, ../sass/mob480.scss */
#featured .info a {
  width: 440px;
  padding: 10px;
  height: 100px; }

/* line 119, ../sass/mob480.scss */
#featured .info h2 {
  font-size: 1.2em; }

/* line 120, ../sass/mob480.scss */
#featured .info p {
  font-size: 1.0em; }

/* line 122, ../sass/mob480.scss */
#featured ul li {
  background: none transparent;
  border: none; }

/* line 123, ../sass/mob480.scss */
#featured li.ui-tabs-nav-item a {
  text-indent: 1000px;
  height: 20px;
  width: 20px;
  background: url(../images/structure/sliderOff.png) 0 0 no-repeat transparent; }

/* line 130, ../sass/mob480.scss */
#featured li.ui-tabs-nav-item.ui-tabs-selected a {
  background: url(../images/structure/sliderOn.png) 0 0 no-repeat transparent; }

/* line 134, ../sass/mob480.scss */
.home-wrap .featureNav.link_panel li {
  height: 35px;
  line-height: 35px; }

/* line 139, ../sass/mob480.scss */
.home-wrap .featureNav.link_panel li a {
  font-size: 1em;
  padding-left: 10px;
  padding-right: 36px; }

/* line 145, ../sass/mob480.scss */
#featured .ui-tabs-panel {
  height: 120px; }

/* line 147, ../sass/mob480.scss */
#featured ul.ui-tabs-nav {
  float: right;
  position: relative;
  top: -28px;
  width: auto; }

/* line 154, ../sass/mob480.scss */
.colThird {
  margin: 0 0 10px !important; }

/* line 156, ../sass/mob480.scss */
.colThird .divider {
  border: 1px solid #ccc;
  padding: 10px; }

/* line 158, ../sass/mob480.scss */
.colThird h2 {
  font: 1.18em/1em Helvetica, Arial, sans-serif; }

/* line 160, ../sass/mob480.scss */
.colThird .divider ul li {
  margin: 10px 0 0 !important; }

/* line 162, ../sass/mob480.scss */
.home-wrap .event-list .calendar .day {
  font-size: 1em; }

/* line 163, ../sass/mob480.scss */
.home-wrap .event-list .calendar .month {
  font-size: 0.65em;
  line-height: 1.3em;
  padding: 0; }

/* line 164, ../sass/mob480.scss */
.home-wrap .event-list h3 {
  margin: 0 0 5px 48px; }

/* line 165, ../sass/mob480.scss */
.home-wrap .event-list p {
  margin: 2px 0 6px 48px; }

/* line 167, ../sass/mob480.scss */
.colThird.fauxTab > div {
  padding: 0; }

/* line 169, ../sass/mob480.scss */
.colThird .more_link {
  font-size: 0.8em;
  margin-bottom: 0.25em; }

/* LOGIN */
/* line 172, ../sass/mob480.scss */
#content #getPassword {
  margin: 10px 80px; }

/* line 173, ../sass/mob480.scss */
#loginPage .grid_4-5 {
  margin: 0 0 15px; }

/* line 174, ../sass/mob480.scss */
#loginPage .grid_4-5 .highlight_panel {
  min-height: 168px; }

/* line 175, ../sass/mob480.scss */
#loginPage .grid_4-5 .brightlight_panel {
  min-height: 100px; }

/* line 176, ../sass/mob480.scss */
#loginPage .brightlight_panel p, .event-promo .promo-desc, .event-promo {
  margin-bottom: 0; }

/* line 177, ../sass/mob480.scss */
.form .highlight_panel .login {
  margin-bottom: 0; }

/* line 178, ../sass/mob480.scss */
#loginPage label, .halfCol .form label, .restricted .form .grid_4-5 label {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 36px;
  width: 115px; }

/* line 185, ../sass/mob480.scss */
#loginPage input.typesubmit, #loginPage .form input[type="submit"], #loginPage .chkBx, .restricted .login input, .restricted .remember .chkBx {
  margin-left: 115px !important; }

/* line 187, ../sass/mob480.scss */
#loginPage .chkBx, .restricted .remember .chkBx {
  position: relative;
  top: 7px; }

/* line 189, ../sass/mob480.scss */
#loginPage input[type="text"], #loginPage input.typetext, #loginPage input[type="password"], #loginPage input.password, .halfCol input[type="text"], .halfCol input.typetext, .halfCol input[type="password"], .restricted .form .grid_4-5 input[type="text"], .restricted .form .grid_4-5 input.typetext, .restricted .form .grid_4-5 input[type="password"] {
  height: 35px;
  line-height: 36px;
  margin-bottom: 11.5px;
  padding: 0;
  width: 315px; }

/* line 197, ../sass/mob480.scss */
.restricted .login .forgotten {
  font-size: 0.9em;
  line-height: 2.25em;
  width: 170px;
  margin-right: 0;
  position: absolute;
  right: 25px; }

/* line 198, ../sass/mob480.scss */
.restricted .grid_4-5 .remember {
  width: 440px; }

/* line 199, ../sass/mob480.scss */
.restricted .grid_4-5 .remember .chkBx {
  margin-left: 115px !important; }

/* line 200, ../sass/mob480.scss */
.restricted .grid_4-5 .cookie, #loginPage .grid_4-5 .cookie {
  font-size: 0.9em !important;
  padding-top: 5px; }

/* line 201, ../sass/mob480.scss */
.restricted .form .password, .restricted .form .username {
  margin-bottom: 10px; }

/* line 202, ../sass/mob480.scss */
.halfCol.reg, .halfCol.noReg, .halfCol.error, .restricted .form .grid_4-5 {
  width: 460px;
  min-height: 100px; }

/* line 204, ../sass/mob480.scss */
.halfCol h2 {
  font-size: 1.45em; }

/* line 206, ../sass/mob480.scss */
input[type="submit"], input.submitButton, .typesubmit, .submit-style {
  height: 36px; }

/* line 208, ../sass/mob480.scss */
#loginPage p.remember label, .restricted .form .grid_4-5 .remember label {
  width: 300px !important;
  font-weight: normal !important; }

/* line 209, ../sass/mob480.scss */
#loginPage p.remember {
  clear: both;
  float: left;
  width: 440px!important; }

/* line 211, ../sass/mob480.scss */
.restricted .halfCol.noReg, .restricted .halfCol.error {
  min-height: 100px;
  width: 460px; }

/* line 213, ../sass/mob480.scss */
.restricted .form .grid_4-5 label {
  line-height: 1.55em; }

/* line 215, ../sass/mob480.scss */
.highlight_panel {
  padding: 10px; }

/* line 217, ../sass/mob480.scss */
.restricted .form .grid_4-5 .error_panel {
  background: url("../images/structure/error_30.gif") no-repeat scroll 98% 10px #fefda5; }

/* EVENTS */
/* line 221, ../sass/mob480.scss */
.event #contactus, .event #bookingForm {
  width: 220px;
  margin-left: 0;
  margin-right: 0; }

/* line 222, ../sass/mob480.scss */
.event #contactus {
  float: left; }

/* line 223, ../sass/mob480.scss */
.event #bookingForm {
  float: right; }

/* SEARCH */
/* line 226, ../sass/mob480.scss */
.search-results .SearchPanel input[type="text"], .search-results .SearchPanel input.typetext {
  width: 279px; }

/* line 227, ../sass/mob480.scss */
.search-results ol li dt, .search-results ol li dt a {
  font-size: 1em; }

/* line 228, ../sass/mob480.scss */
.search-results ol li dt a {
  background: url("../images/icaewstructure/primarylinklist.gif") no-repeat scroll 0 2px transparent; }

/* line 229, ../sass/mob480.scss */
.page-numbers {
  width: 440px; }

/* line 230, ../sass/mob480.scss */
.page-numbers a {
  height: 35px;
  margin-bottom: 10px; }

/* line 231, ../sass/mob480.scss */
.per-page {
  float: left;
  width: 440px; }

/* LANDING PAGES */
/* line 234, ../sass/mob480.scss */
.banners-feature {
  width: 440px;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#660000), to(#cc0000)) !important;
  background-color: #000; }

/* line 235, ../sass/mob480.scss */
.banners-feature h2, .banners-feature h2 p {
  font: bold 1.06em/1.2em Helvetica, Arial, sans-serif; }

/* line 236, ../sass/mob480.scss */
.campaign_panel {
  padding: 10px;
  height: auto;
  min-height: 140px; }

/* line 237, ../sass/mob480.scss */
.event-list {
  width: 458px; }

/* line 238, ../sass/mob480.scss */
.box-right {
  margin: 0!important; }

/* line 239, ../sass/mob480.scss */
.free-text-box dt {
  font-size: 1em; }

/* line 240, ../sass/mob480.scss */
.event-list .actions .submit, .submit {
  padding: 6px 12px; }

/*.topics-home .search {background: -webkit-gradient(linear, left top, left bottom, from(#600), to(#c00))!important;-moz-linear-gradient(center top , #660000, #CC0000 80%) repeat scroll 0 0 #660000;height: 100px;width: 458px !important;}
* Invalid CS */
/* line 245, ../sass/mob480.scss */
.topics-home .search .search-cnt {
  bottom: 24px;
  left: 24px; }

/* line 246, ../sass/mob480.scss */
input.home-search-text {
  width: 280px; }

/* line 248, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav-wrap {
  width: 230px; }

/* line 249, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav {
  width: 220px;
  height: auto;
  border-width: 0 0 10px 10px;
  border-color: #E8E8E8;
  border-style: solid none solid solid;
  margin: 0; }

/* line 250, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li {
  border-bottom: 10px solid #E8E8E8;
  border-right: 10px solid #E8E8E8;
  border-top: 10px solid #E8E8E8; }

/* line 251, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li.ui.tabs.selected {
  border-right: none;
  width: 200px; }

/* line 252, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li {
  height: 56px; }

/* line 253, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a {
  height: 52px; }

/* line 254, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav, #featured-tabs .featured-tabs-desc {
  height: 684px!important; }

/* line 255, ../sass/mob480.scss */
#featured-tabs .featured-tabs-desc {
  width: 230px!important;
  margin-left: 230px;
  border: none; }

/* line 256, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li.ui-tabs-selected, #featured-tabs .featured-tabs-nav li.ui.tabs.selected {
  border-right: medium none;
  width: 210px; }

/* line 258, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li.ui-state-active {
  background: #000;
  border-bottom: 10px solid #000000; }

/* line 259, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a:hover {
  background-color: #c00; }

/* line 260, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li.ui-state-active a:hover {
  background-color: #000; }

/* line 261, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a {
  font-size: 0.8em;
  width: 195px; }

/* line 262, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a p {
  font-size: 0.75em; }

/* line 263, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a.more {
  background: url("../images/Structure/button64.gif") repeat-x scroll 0 -20px #cc0000;
  font-size: 0.9em;
  height: auto;
  line-height: 24px;
  text-align: center;
  width: 185px; }

/* line 264, ../sass/mob480.scss */
#featured-tabs .featured-tabs-nav li a.more:hover {
  background: url("../images/Structure/button64.gif") repeat-x scroll 0 -220px #cccccc; }

/* line 265, ../sass/mob480.scss */
#featured-tabs .featured-tabs-desc li {
  height: 670px !important;
  padding: 10px; }

/* line 266, ../sass/mob480.scss */
#featured-tabs .featured-tabs-desc li p {
  font-size: 0.8em;
  line-height: 1.25em; }

/* line 267, ../sass/mob480.scss */
#featured-tabs .featured-tabs-desc li a {
  font-size: 1em;
  line-height: 1.4em;
  width: 197px;
  padding: 3px 6px;
  text-align: center;
  margin-top: 0;
  height: auto; }

/* line 268, ../sass/mob480.scss */
#featured-tabs {
  width: 460px!important;
  height: 696px!important; }

/* line 270, ../sass/mob480.scss */
.section-links p a {
  font-size: 1em;
  line-height: 1.6em; }

/* line 271, ../sass/mob480.scss */
.module.dropdown h2, .module.dropdown h3 {
  line-height: 1.7em; }

/* line 272, ../sass/mob480.scss */
.module.tabs ul.tabs-nav li a {
  padding: 0 10px; }

/* line 273, ../sass/mob480.scss */
.desc-tabs-comment li a {
  padding-right: 106px; }

/* line 274, ../sass/mob480.scss */
.desc-tabs-comment li span a {
  top: 5px; }

/* Faculty */
/* line 277, ../sass/mob480.scss */
.landing-wrap {
  padding: 10px; }

/* line 278, ../sass/mob480.scss */
.blockOne, .blockTwo {
  width: 460px; }

/* line 279, ../sass/mob480.scss */
.promo_panel {
  width: 440px;
  padding: 0 10px; }

/* line 280, ../sass/mob480.scss */
.promo_panel p, .blockTwo .colThird.actionCall, .blockTwo .colThird {
  width: auto; }

/* line 281, ../sass/mob480.scss */
.row.threeCol, .row .colTwoThird {
  display: none; }

/* line 282, ../sass/mob480.scss */
.panelButton .heroButton {
  margin-bottom: 20px;
  width: 460px; }

/* line 283, ../sass/mob480.scss */
.colThird .event-list .calendar .day {
  font-size: 1.1em; }

/* line 284, ../sass/mob480.scss */
.colThird .event-list .calendar .month {
  font-size: 0.8em;
  line-height: 1.1em; }

/* CAROUSEL */
/* line 287, ../sass/mob480.scss */
.core.text .carousel .items .members {
  width: 380px; }

/* line 288, ../sass/mob480.scss */
.core.text .carousel, .core.text .carousel .prev, .core.text .carousel .next, .core.text .carousel .scrollable {
  height: 300px; }

/* line 289, ../sass/mob480.scss */
.carousel .members .bd {
  margin-left: 0; }

/* line 290, ../sass/mob480.scss */
.core.text .carousel .members .bd {
  width: 380px;
  margin-top: 45px; }

/* line 291, ../sass/mob480.scss */
.carousel h3, .carousel .members .bd h4 {
  font-size: 1em; }

/* line 292, ../sass/mob480.scss */
.carousel .members .bd p {
  font-size: 0.8em; }

/* PRACTICE CENTRE */
/* line 295, ../sass/mob480.scss */
.top-feature .search {
  padding: 10px 0 5px 25px; }

/* line 296, ../sass/mob480.scss */
.top-feature .tabs .ui-tabs-panel .cta-footer a.cta-link, .top-feature .tabs .ui-tabs-panel .cta-footer a.show-more {
  width: 418px; }

/* line 297, ../sass/mob480.scss */
.top-feature .tabs .ui-tabs-panel .cta-footer {
  width: 459px; }

/* LIBRARY */
/* line 300, ../sass/mob480.scss */
.library .navigation ul li a {
  width: auto;
  text-align: left; }

/* line 301, ../sass/mob480.scss */
.library .navigation ul li a br {
  display: none; }

/* line 302, ../sass/mob480.scss */
.library .navigation ul {
  height: 210px; }

/* LIBRARY HOME */
/* line 305, ../sass/mob480.scss */
.library .feature-nav {
  width: 220px;
  height: auto;
  border-width: 0 0 10px 10px;
  border-color: #E8E8E8;
  border-style: solid none solid solid;
  margin: 0; }

/* line 306, ../sass/mob480.scss */
.library .feature-nav li {
  border-bottom: 10px solid #E8E8E8;
  border-right: 10px solid #E8E8E8;
  border-top: 10px solid #E8E8E8; }

/* line 307, ../sass/mob480.scss */
.library .feature-nav li.ui-tabs-selected {
  border-right: none;
  width: 200px; }

/* line 308, ../sass/mob480.scss */
.library .feature-nav li, .library .feature-nav li a {
  height: 95px; }

/* line 309, ../sass/mob480.scss */
.library .feature, .library .feature-desc {
  height: 470px; }

/* line 310, ../sass/mob480.scss */
.library .feature-desc li h4, .library .feature-desc li p {
  font-size: 0.8em;
  line-height: 1.25em; }

/* line 311, ../sass/mob480.scss */
.library .feature-desc li h4, .library .feature-desc li a {
  height: auto; }

/* line 313, ../sass/mob480.scss */
.library .feature-nav li.ui-state-active {
  background: #000;
  border-bottom: 10px solid #000000; }

/* line 314, ../sass/mob480.scss */
.library .feature-nav li a:hover {
  background-color: #c00; }

/* line 315, ../sass/mob480.scss */
.library .feature-nav li.ui-state-active a:hover {
  background-color: #000; }

/* line 316, ../sass/mob480.scss */
.library .feature-nav li a h3 {
  font-size: 0.8em; }

/* line 317, ../sass/mob480.scss */
.library .feature-nav li a p {
  font-size: 0.75em; }

/* line 318, ../sass/mob480.scss */
.library .feature-desc li a.more {
  background: url("../images/Structure/button64.gif") repeat-x scroll 0 -20px #cc0000;
  font-size: 0.9em;
  height: auto;
  line-height: 24px;
  text-align: center;
  width: 185px; }

/* line 319, ../sass/mob480.scss */
.library .feature-desc li a.more:hover {
  background: url("../images/Structure/button64.gif") repeat-x scroll 0 -220px #cccccc; }

/* line 321, ../sass/mob480.scss */
.topic-desc-tabs ul li {
  width: 458px; }

/* line 322, ../sass/mob480.scss */
.topic-desc-tabs ul li a {
  font-size: 0.8em;
  line-height: 1.6em;
  padding: 10px 5px 6px 25px; }

/* line 323, ../sass/mob480.scss */
.library .module {
  margin-bottom: 0; }

/* line 324, ../sass/mob480.scss */
.library .col1, .library .col2, .library .col3, .library .recommended-links {
  width: 460px;
  margin: 0 0 15px 0; }

/* line 326, ../sass/mob480.scss */
.library .home-wrap .promo-box {
  float: left; }

/* line 327, ../sass/mob480.scss */
.library .home-wrap .promo-desc {
  height: 147px;
  padding-top: 80px; }

/* line 328, ../sass/mob480.scss */
.library .latest-blog {
  clear: right;
  float: right;
  height: 215px;
  margin: 0;
  width: 200px; }

/* line 329, ../sass/mob480.scss */
.latest-blog h3 {
  font-size: 0.7em; }

/* line 330, ../sass/mob480.scss */
.promo-desc .desc h4, .latest-blog h4 {
  font-size: 0.9em;
  line-height: 1.3em; }

/* line 331, ../sass/mob480.scss */
.promo-desc .desc p, .latest-blog p {
  font-size: 0.8em;
  line-height: 1.3em; }

/* line 332, ../sass/mob480.scss */
.library .contact-details p {
  width: 200px; }

/* line 333, ../sass/mob480.scss */
.library .contact-details p.email, .library .contact-details p.phone {
  background-position-y: 5px; }

/* line 334, ../sass/mob480.scss */
.base-strapline {
  font-size: 0.8em;
  padding: 10px 20px; }

/* 404 Page*/
/* line 337, ../sass/mob480.scss */
#Intro404 {
  width: 428px; }

/* line 338, ../sass/mob480.scss */
.error404 .grid_4-5 {
  width: 460px; }

/* line 339, ../sass/mob480.scss */
.content .bodyWrap {
  background-image: none; }

/* ARTICLE */
/* line 342, ../sass/mob480.scss */
.module.sharethis {
  width: 195px; }

/* line 343, ../sass/mob480.scss */
.sharethis .social {
  width: 180px; }

/* line 344, ../sass/mob480.scss */
.module h2, .module h3, .module h4 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em; }

/* line 345, ../sass/mob480.scss */
.faqs dt, .pod dt {
  font-size: 1em; }

/* line 347, ../sass/mob480.scss */
.event-list ul li.cta-footer strong a, .sidebar .tabs div.cta-footer a, .sidebar .simple-list div.cta-footer a, .sidebar .mini-list div.cta-footer a, .core.text .simple-list div.cta-footer a {
  padding: 10px 15px; }

/*A-Z Navigation*/
/* line 350, ../sass/mob480.scss */
.a-z-home .module.a-z ul.tabs-nav li a {
  font-size: 0.9em;
  height: auto;
  min-width: 14px;
  padding: 0 10px; }

/* line 351, ../sass/mob480.scss */
.module.a-z ul.tabs-nav li {
  margin: 0 4px 4px 0; }

/* line 352, ../sass/mob480.scss */
.a-z-home .module.a-z ul.tabs-nav li.active a {
  min-width: 12px;
  color: #fff !important;
  text-shadow: 0 1px 0 #000 !important; }

/* line 353, ../sass/mob480.scss */
.module.a-z ul.tabs-nav li.first {
  border-left: 0 none; }

/* line 354, ../sass/mob480.scss */
ul.tabs-nav li.active {
  background: url(../images/structure/button48.gif) repeat-x 0 0 #cc0000 !important; }

/*Tabs*/
/* line 356, ../sass/mob480.scss */
.topic-desc-tabs ul li.cta-footer, .topic-desc-tabs ul li.cta-footer:hover {
  height: auto; }

/*Article Listing Panels*/
/* line 358, ../sass/mob480.scss */
.content .module.half {
  width: 225px; }

/* TOPIC LINKS */
/* line 361, ../sass/mob480.scss */
li.col2 {
  margin: 0 !important; }

/* line 362, ../sass/mob480.scss */
.sub-topic-links li {
  border-left: 1px solid #aaa;
  margin-bottom: 10px!important; }

/* line 363, ../sass/mob480.scss */
.sub-topic-links li:last-child {
  margin-bottom: 0px!important; }

/* line 364, ../sass/mob480.scss */
.sub-topic-links li a {
  background: url(../images/components/topic-sprite480.png) no-repeat right top !important; }

/* line 365, ../sass/mob480.scss */
.sub-topic-links li a:hover {
  background: url(../images/components/topic-sprite480.png) no-repeat right bottom !important; }

/* line 366, ../sass/mob480.scss */
.sub-topic-links li.small-row a {
  background: url(../images/components/topic-sprite-sml480.jpg) no-repeat right bottom !important; }

/* line 367, ../sass/mob480.scss */
.sub-topic-links li.small-row a:hover {
  background: url(../images/components/topic-sprite-sml480.jpg) no-repeat right top !important; }

/* line 368, ../sass/mob480.scss */
.sub-topic-links li.small-row, .core.text .sub-topic-links li.small-row {
  margin-bottom: 10px!important; }

/* line 370, ../sass/mob480.scss */
.content .link_panel li {
  margin-bottom: 10px!important; }

/* line 371, ../sass/mob480.scss */
.content .link_panel li:last-child {
  margin-bottom: 0!important; }

/* line 372, ../sass/mob480.scss */
.content .link_panel li a {
  background: url("../images/components/topic-sprite-sml480.jpg") no-repeat scroll right -35px transparent !important; }

/* line 373, ../sass/mob480.scss */
.content .link_panel li a:hover {
  background: url("../images/components/topic-sprite-sml480.jpg") no-repeat scroll right top transparent !important; }

/* line 374, ../sass/mob480.scss */
.content .link_panel li.summary a {
  background: url("../images/components/topic-sprite480.png") no-repeat scroll right top transparent !important; }

/* line 375, ../sass/mob480.scss */
.content .link_panel li.summary a:hover {
  background: url("../images/components/topic-sprite480.png") no-repeat scroll right -98px transparent !important; }

/* line 377, ../sass/mob480.scss */
.sub-topic-links li a .link-text {
  width: 400px !important; }

/* line 378, ../sass/mob480.scss */
.content .link_panel li.summary a, .sub-topic-links li span, .sub-topic-links li.small-row span {
  font-size: 1em; }

/* line 380, ../sass/mob480.scss */
.content .link_panel li.summary {
  line-height: 1.1em; }

/* line 381, ../sass/mob480.scss */
.sub-topic-links li p {
  font-size: 0.915em;
  line-height: 1.1; }

/* line 383, ../sass/mob480.scss */
.content .grid_8 {
  width: 460px; }

/* Events Centre */
/* line 386, ../sass/mob480.scss */
#keyword + div {
  display: none; }

/* line 388, ../sass/mob480.scss */
.event_panel h2 {
  font-size: 1.15em; }

/* line 390, ../sass/mob480.scss */
.event_panel.event-list li h3, .event_panel.event-list li h4, .event_panel.event-list li p {
  width: 370px;
  line-height: 1.2em; }

/* line 392, ../sass/mob480.scss */
.event-list.module h4, .event-list.module p {
  margin: 0 5px 5px 0; }

/* line 394, ../sass/mob480.scss */
.event-list.module h2 {
  line-height: 1.5em; }

/* line 396, ../sass/mob480.scss */
.event-list ul {
  width: 458px; }

/* line 398, ../sass/mob480.scss */
.grid_8.event_panel.event-list.module {
  width: 458px;
  margin-bottom: 10px; }

/* line 400, ../sass/mob480.scss */
#EventSearchPanel input.home-search-text {
  width: 290px; }

/* line 402, ../sass/mob480.scss */
.eventFeature #featured {
  margin-left: 0;
  width: 460px;
  height: 140px;
  border: 0; }

/* line 408, ../sass/mob480.scss */
.eventFeature #featured .info a {
  width: 440px; }

/* line 410, ../sass/mob480.scss */
.eventFeature #featured #tabspanel img, .eventFeature #featured .ui-tabs-panel, #featured, #featured .ui-tabs-panel .info {
  height: 140px; }

/* line 412, ../sass/mob480.scss */
.eventFeature #featured .ui-tabs-panel .info .calendar .day {
  font-size: 2.8em; }

/* line 414, ../sass/mob480.scss */
.eventFeature #featured ul.ui-tabs-nav {
  width: 460px; }

/* line 416, ../sass/mob480.scss */
.eventFeature #featured .ui-tabs-panel .info .calendar .day {
  font-size: 2.8em;
  top: 20px; }

/* line 417, ../sass/mob480.scss */
.eventFeature #featured .ui-tabs-panel .info .calendar .month {
  font-size: 1.4em;
  top: 86px; }

/* line 418, ../sass/mob480.scss */
.eventFeature #featured .info h2, .eventFeature #featured .info p {
  padding-right: 94px; }

/* line 419, ../sass/mob480.scss */
.eventFeature #featured .ui-tabs-panel .info .calendar {
  right: 10px; }

/* line 421, ../sass/mob480.scss */
.event_panel .pagination-nav h2 {
  font-size: 1.05em; }

/* iPhone shortcut footer link */
/* line 424, ../sass/mob480.scss */
#iPhoneShow {
  display: block;
  background: url(/images/structure/ios-bookmark.png) no-repeat scroll 14px 20px #660000;
  margin-bottom: 10px;
  padding: 20px 80px;
  position: absolute;
  top: -90px;
  line-height: 1.2em;
  font-size: 1.1em; }

/* Hide topics only version
#srCol h3:last-of-type, #srCol h3:last-of-type+ul {display:none;}
#srCol {width:428px;margin-bottom:10px;} */
/* Hide filter altogether */
/* line 439, ../sass/mob480.scss */
#srCol {
  display: none; }
