/*Colours*/
$alink : #B80F14;
$greylight : #666666;
$rootfontfamily: Helvetica, Arial, sans-serif;
$sitebackground :#FFF;
$headercol : #252525;
$headercoltopborder : #444444;
$almostblack : #111111;
$bluelight : #f2f7f9;
$darkerblack : #333333;
$tealicaew : #006a8d;

.hidden{
	display: none;
}